.proptipus {
  position: relative;
  top: 45px;
  left: 22%;
  width: 150px;
}

span.tentacle-tag {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.proptipus-image {
  box-shadow: rgba(3, 193, 218, 0.56) 0px 0px 100px 30px;
  border-radius: 75px;
  vertical-align: center;
  /* How do I center this son of a bitch!?  
    Note, doing so may require repositioning all tentacle divs...worth it? */
  width: 600px;
  margin: 0;
  position: absolute;
}

.logo {
  position: relative;
  box-shadow: rgba(3, 193, 218, 0.56) 0px 0px 100px 30px;
  background-color: rgba(3, 193, 218, 0.56);
  border-radius: 15px;
  top: 330px;
  left: 300px;
  height: 50px;
  z-index: 100;
}

div.tentacle-one {
  position: absolute;
  transform: rotate(20deg);
  top: 10px;
  left: 100px;
  width: 200px;
  height: 250px;
  /* border: 3px solid #eaeb9e; */
  border-radius: 10px;

  background-image: url("../images/amazing-joke-holder.png");
  background-size: 200px;
  background-repeat: no-repeat;
  /* background-color: blanchedalmond; */
  opacity: 0.98;
}
span.joke-setup {
  position: absolute;
  font-family: fantasy;
  color: rgba(2, 57, 14, 0.885);
  font-style: italic;
  width: 150px;
  left: 20px;
  top: 45px;
}

span.punchline {
  position: absolute;
  color: rgba(102, 23, 3, 0.885);
  font-family: fantasy;
  font-size: 12px;
  width: 150px;
  left: 22px;
  top: 120px;
}

div.tentacle-two {
  position: absolute;
  transform: rotate(-5deg);
  top: 260px;
  left: 5px;
  width: 150px;
  height: 220px;
  border: 1px solid #020e1f;
  border-radius: 10px;

  background-image: url("../images/FishGiOhBlueCard.png");
  background-size: 150px;
  /* background-color: blanchedalmond; */
  opacity: 0.98;
}
span.fish-name {
  position: absolute;
  top: 9px;
  left: 30px;
  font-family: "palatino-bold";
}

img.fish-image {
  position: absolute;
  top: 37px;
  left: 17px;
  width: 112px;
  height: 113px;
  border: 2px solid #020e1f;
}

span.fish-type {
  position: absolute;
  top: 165px;
  left: 15px;

  font-size: 10px;
  font-family: "palatino-bold";
}

span.fish-description {
  position: absolute;
  top: 177px;
  left: 18px;
  width: 115px;

  font-size: 8px;
  font-family: "palatino-bold";
}

span.fish-attack {
  position: absolute;
  top: 198px;
  left: 48px;
  width: 115px;

  color: rgb(136, 4, 4);
  font-size: 7px;
  font-family: "palatino-bold";
}

div.tentacle-three {
  position: absolute;
  transform: rotate(18deg);
  top: 230px;
  left: 610px;
  width: 150px;
  height: 220px;
  border: 1px solid #020e1f;
  border-radius: 10px;
  background-image: url("../images/FishGiOhBlueCard.png");
  background-size: 150px;
  opacity: 0.98;
}

div.tentacle-four {
  position: absolute;
  transform: rotate(-15deg);
  top: -5px;
  left: 480px;
  width: 350px;
  height: 200px;
  border-radius: 25px;

  background-image: url("../images/AddressBook.png");
  background-size: 350px;
  background-repeat: no-repeat;
  opacity: 0.98;
}

span.friends-header {
  position: absolute;
  top: 20px;
  left: 100px;
  /* font-family: "futura-bold"; */
}
@font-face {
    font-family: proptiDrew;
    src: url(../fonts/GloriaHallelujah-Regular.ttf)
}
#propti-friends {
  position: absolute;
  top: 47px;
  left: 40px;
  font-family: proptiDrew;
  font-size: 10px;
  border-collapse: collapse;
  width: 80%;
}

#propti-friends td,
#propti-friends th {
  /* border: 1px solid #ddd; */
  padding: 1px;
}

#propti-friends th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: left;
}
img.bird-logo {
    width: 17px;
}

div.tentacle-five {
  position: absolute;
  transform: rotate(15deg);
  top: 520px;
  left: 100px;
  width: 120px;
  height: 100px;
  /* border: 3px solid #161616; */
  border-radius: 10px;
  background-image: url("../images/metal-texture.jpeg");
  opacity: 0.92;
}

span.magic-remote-text {
  font-size: 20px;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  animation: neon 0.08s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 235, 242, 0.58),
      0 0 22px rgba(60, 175, 242, 0.84), 0 0 38px rgba(30, 157, 242, 0.88),
      0 0 60px rgb(30, 210, 242);
  }
}

.buttons {
  margin: 5%;
  text-align: center;
}

.magic-remote-button {
  width: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  height: 20px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.magic-remote-button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.magic-remote-button:focus {
  outline: none;
}

.magic-remote-button.color-1 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.magic-remote-button.color-2 {
  background-image: linear-gradient(
    to right,
    #009245,
    #fcee21,
    #00a8c5,
    #d9e021
  );
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

span.magic-remote-disclaimer {
  font-size: 8px;
  color: rgba(214, 107, 7, 0.885);
  background-color: snow;
  border-radius: 2px;
  padding: 2px;
}

div.tentacle-six {
  position: absolute;
  transform: rotate(-60deg);
  top: 450px;
  left: 280px;
  width: 130px;
  height: 90px;
  /* border: 3px solid #eaeb9e; */
  border-radius: 10px;

  background-image: url("../images/Proptipip.png");
  background-size: 130px;
  background-repeat: no-repeat;
  /* background-color: blanchedalmond; */
  opacity: 1;
}

span.number-readout {
  position: absolute;
  left: 43px;
  color: rgb(8, 133, 4);
  font: 50px Inconsolata, monospace;
  text-shadow: 0 0 5px #37d806;
}

div.tentacle-seven {
  position: absolute;
  transform: rotate(-49deg);
  top: 550px;
  left: 295px;
  width: 195px;
  height: 120px;
  /* border: 3px solid #eaeb9e; */
  border-radius: 10px;

  background-image: url("../images/DriftwoodPlank.png");
  background-size: 200px;
  /* background-color: blanchedalmond; */
  opacity: 0.98;
}

input.show-toggle {
  position: absolute;
  top: 45px;
  left: 25px;
}

span.show-text {
  position: absolute;
  top: 45px;
  left: 50px;
}

input.hide-toggle {
  position: absolute;
  top: 75px;
  left: 25px;
}

span.hide-text {
  position: absolute;
  top: 75px;
  left: 50px;
}

span.show-movies {
  font-size: 12px;
}

span.genre-picker {
    position: absolute;
  top: 45px;
  left: 110px;
}

select.genre-selector {
    position: absolute;
    top: 70px;
    left: 95px; 
}
div.tentacle-eight {
  position: absolute;
  transform: rotate(12deg);
  top: 480px;
  left: 520px;
  width: 270px;
  height: 210px;
  /* border: 3px solid #eaeb9e; */
  border-radius: 10px;

  overflow: scroll;
  /* overflow-y: hidden; */

  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;

  background-image: url("../images/MessageBoard.jpg");
  background-size: 270px;
  opacity: 0.98;
}

span.movie-card {
    width: 33%;
    margin: 5px;
    padding: 5px 10px;
    background-image: url("../images/StickyNote.png");
    background-size: 100%;
    background-repeat: no-repeat;
  border-radius: 9px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

span.movie-title {
  font-size: 15px;
  color: #361bd1e7;
}

span.movie-review {
  font-size: 10px;
}
