.proptipus {
  position: relative;
  top: 45px;
  width: 150px;
  /* height: 600px; */
}

span.tentacle-tag {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.proptipus-image {
  box-shadow: rgba(3, 193, 218, 0.56) 0px 0px 100px 30px;
  border-radius: 75px;
  vertical-align: center;

  width: 600px;
  margin: 0;
  position: absolute;
}

.logo {
    position: relative;
    box-shadow: rgba(3, 193, 218, 0.56) 0px 0px 100px 30px;
    background-color: rgba(3, 193, 218, 0.56);
    border-radius: 15px;
    top: 300px;
    left: 320px;
    height: 40px;
    z-index: 100;
}

div.tentacle-one {
  position: absolute;
  top: 20px;
  left: 120px;
  width: 200px;
  height: 160px;
  border: 3px solid #eaeb9e;
  border-radius: 10px;

  background-color: blanchedalmond;
  opacity: 0.8;
}
span.joke-setup {
    font-family: fantasy;
    color: rgba(2, 57, 14, 0.885);
    font-style: italic;
}
span.punchline {
    color: rgba(102, 23, 3, 0.885);
    font-family: fantasy;
    font-size: 12px;
}

div.tentacle-two {
    position: absolute;
    top: 260px;
    left: 30px;
    width: 150px;
    height: 150px;
    border: 3px solid #eaeb9e;
    border-radius: 10px;
  
    background-color: blanchedalmond;
    opacity: 0.8;
  }

  div.tentacle-three {
    position: absolute;
    top: 300px;
    left: 600px;
    width: 150px;
    height: 150px;
    border: 3px solid #eaeb9e;
    border-radius: 10px;
  
    background-color: blanchedalmond;
    opacity: 0.8;
  }

  div.tentacle-four {
    position: absolute;
    top: 45px;
    left: 550px;
    width: 300px;
    height: 200px;
    border: 3px solid #eaeb9e;
    border-radius: 10px;
  
    background-color: blanchedalmond;
    opacity: 0.8;
  }

  div.tentacle-five {
    position: absolute;
    top: 470px;
    left: 33px;
    width: 220px;
    height: 150px;
    border: 3px solid #eaeb9e;
    border-radius: 10px;
  
    background-color: blanchedalmond;
    opacity: 0.8;
  }

  div.tentacle-six {
    position: absolute;
    top: 510px;
    left: 290px;
    width: 75px;
    height: 75px;
    border: 3px solid #eaeb9e;
    border-radius: 10px;
  
    background-color: blanchedalmond;
    opacity: 0.8;
  }

  div.tentacle-seven {
    position: absolute;
    top: 520px;
    left: 390px;
    width: 95px;
    height: 120px;
    border: 3px solid #eaeb9e;
    border-radius: 10px;
  
    background-color: blanchedalmond;
    opacity: 0.8;
  }

  div.tentacle-eight {
    position: absolute;
    top: 480px;
    left: 540px;
    width: 220px;
    height: 120px;
    border: 3px solid #eaeb9e;
    border-radius: 10px;
  
    background-color: blanchedalmond;
    opacity: 0.8;
  }