.proptipus {
    justify-content: center;
    background-color: aqua;
}

.proptipus-image {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    /* padding: 20px; */
    max-width: 600px;
}

.img {

}
